/* .header-red {
  color: red;
}

.header-blue {
  color: blue;
} */

body {
  display: flex;
  justify-content: center;
}

.container {
  border: solid 3px black;
  margin-top: 220px;
}

.row {
  display: flex;
}

.square {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: solid 2px black;
}

.square-colored {
  background-color: grey;
}