/* .header-red {
  color: red;
}

.header-blue {
  color: blue;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 20px;
}

.grid {
  max-width: 1500px;
  border: solid 3px black;
}

.row {
  display: flex;
}

.square {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: solid 2px black;
}

.square-colored {
  background-color: grey;
}